@import "tailwindcss";

@layer components {
  .page-shadow {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.9),
      12px 12px 14px rgba(0, 0, 0, 0.6);
  }

  .bg-custom-green {
    background-color: #567d6a;
  }
  .text-custom-green {
    color: #567d6a;
  }
}
